.user-container {
  border: 1px solid black;
  background-color: #ba487f;
  border-radius: 0.2rem;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

#user-img {
  border-radius: 50%;
  border: 5px solid #ff9587;
  width: 100px;
  height: 100px;
  /* width: 50%; */
}

#user-desc {
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
